<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<h1>MATRICULAR ALUNO</h1>

<fieldset>
  <div class="container-menu">
    <div class="menu">
      <button type="button" (click)="consultarMatriculas()" (click)="exibirFormulario()">Consultar Matriculas</button>
    </div>
  </div>

  <div *ngIf="errorMensagem" class="error-message">
    {{ errorMensagem }}
  </div>

  <table *ngIf="matriculas.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Matricula Ativa</th>
        <th>Aluno</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matricula of matriculas">
        <td>{{ matricula.id }}</td>
        <td id="td-nome">{{ matricula.matriculaAtiva }}</td>
        <td>{{ matricula.idAluno }}</td>
        <td><i class="fas fa-trash" *ngIf="matricula.id" (click)="deletarMatricula(matricula.id!)"></i></td>
      </tr>
    </tbody>
  </table>
</fieldset>

<div *ngIf="modalSucesso" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <p>{{ sucessoMensagem }}</p>
  </div>
</div>