.header{

  background-color: #006400;

}

.header__title{  
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding: 20px;
  color: white;
}

.header__nav{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  padding: 10px;

  
  li{
    list-style: none;
    font-weight: 600;
    padding: 5px;
  }
  a{
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
  }

  a:hover{
    background-color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;

  }

  a.active {
    background-color: white;
  }
}

main{
  align-items: center;
  text-align: center;
  padding-top: 50px;
}