<div>
  <header class="header">
    <div class="marca">
      <img src="https://www.ifs.edu.br/comunicacao/images/Imagens/Marcas/IFS_puro/IFS---horizontal-01.png" alt="">
      <div class="header__title">API ACADEMICO</div>

    </div>
    <nav class="header__nav">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/aluno" routerLinkActive="active">Aluno</a></li>
        <li><a routerLink="/professor" routerLinkActive="active">Professor</a></li>
        <li><a routerLink="/disciplina" routerLinkActive="active">Disciplina</a></li>
        <li><a routerLink="/matricula" routerLinkActive="active">Matricula</a></li>
        <li><a routerLink="/turma" routerLinkActive="active">Turma</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>